
{% extends "base/base.html" %}
{% load static %}



{% block title %}
        Donate Now
{% endblock title %}

{% block custom_css %}
    <style>
        .page-content {
            margin-top: 100px; 
            padding: 20px; 
        }
    </style>
{% endblock custom_css %}


{% block content %}

<main class="main_wrapper">
        <div class="page-content" style="margin-top: 200px; margin-bottom: 200px;">

            <div class="container mt-5">

                <div class="row my-3">
                <div class="col-sm-6 offset-sm-3">
                
            
                    <div  novalidate class="shadow p-5 my-4">
                
                        <h1>Coming Soon !</h1>

                        <p>We are working on this page. Go to <a href="/">homepage</a></p>
                
                    </div>
                
            
                </div>
                </div>
            </div>
        </div>

    </main>

        


{% endblock content %}



